# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/

# VSCode settings (optional, jika pakai VSCode)
.vscode/

# MacOS / Linux system files
.DS_Store
Thumbs.db

# Python virtualenv + pip stuff
*.egg-info/
dist/
build/

# Logs
*.log

# Test cache
.cache/
.pytest_cache/

# Uploaded or temp files
temp_*

# Jupyter notebook checkpoints (kalau ada)
.ipynb_checkpoints/
