{% extends 'layouts/app2.html' %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Tambah Data</h3>
            <div class="card-tools">
                <a type="button" class="btn btn-primary btn-sm" href="/users">
                    <i class="fa fa-arrow-left"></i> Kembali
                </a>
            </div>
        </div>
        <form method="POST" action="/users/store">
	        <div class="card-body">
	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Email</label>
	        		<div class="col-md-5">
	        			<input type="text" class="form-control" placeholder="Masukkan Email" name="email" required="">
	        		</div>
	        	</div>

	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Username</label>
	        		<div class="col-md-5">
	        			<input type="text" class="form-control" placeholder="Masukkan Username" name="username" required="">
	        		</div>
	        	</div>

	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Password</label>
	        		<div class="col-md-5">
	        			<input type="password" class="form-control" placeholder="Masukkan Password" name="password" required="">
	        		</div>
	        	</div>

	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Konfirmasi Password</label>
	        		<div class="col-md-5">
	        			<input type="password" class="form-control" placeholder="Masukkan Konfirmasi Password" name="password1" required="">
	        		</div>
	        	</div>
	        </div>
	        <div class="card-footer">
	        	<button class="btn btn-primary">Simpan</button>
	        </div>
        </form>
    </div>
{% endblock  %}