{% extends 'layouts/app2.html' %}

{% block content %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Edit</h3>
            <div class="card-tools">
                <a type="button" class="btn btn-primary btn-sm" href="/users">
                    <i class="fa fa-arrow-left"></i> Kembali
                </a>
            </div>
        </div>
        <form method="POST" action="/users/{{ data['id'] }}/update">
	        <div class="card-body">
	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Email</label>
	        		<div class="col-md-5">
	        			<input type="text" class="form-control" placeholder="" name="email" required="" value="{{ data['email'] }}">
	        		</div>
	        	</div>

	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Username</label>
	        		<div class="col-md-5">
	        			<input type="text" class="form-control" placeholder="" name="username" required="" value="{{ data['username'] }}">
	        		</div>
	        	</div>

	        	<div class="form-group row">
	        		<label class="col-md-2 col-form-label">Password</label>
	        		<div class="col-md-5">
	        			<input type="password" class="form-control" placeholder="Nasukkan Password" name="password">
	        			<small style="color:red;">*) Isi untuk rubah password</small>
	        		</div>
	        	</div>
	        </div>
	        <div class="card-footer">
	        	<button class="btn btn-primary">Update</button>
	        </div>
        </form>
    </div>
{% endblock  %}